<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:replace="fragments/header :: header">-->
<!--    <title>Hello</title>-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--    <div th:replace="fragments/bodyHeader :: bodyHeader" />-->
<!--    <div class="jumbotron"> <h1>HELLO SHOP</h1>-->
<!--        <p class="lead">회원 기능</p> <p>-->
<!--            <a class="btn btn-lg btn-secondary" href="/members/new">회원 가입</a>-->
<!--            <a class="btn btn-lg btn-secondary" href="/members">회원 목록</a> </p>-->
<!--        <p class="lead">상품 기능</p> <p>-->
<!--            <a class="btn btn-lg btn-dark" href="/items/newbook">책 등록</a>-->
<!--            <a class="btn btn-lg btn-dark" href="/items/newmovie">영화 등록</a>-->
<!--            <a class="btn btn-lg btn-dark" href="/items/newalbum">앨범 등록</a>-->
<!--            <a class="btn btn-lg btn-dark" href="/items">상품 목록</a> </p>-->
<!--        <p class="lead">주문 기능</p> <p>-->
<!--            <a class="btn btn-lg btn-info" href="/order">상품 주문</a>-->
<!--            <a class="btn btn-lg btn-info" href="/orders">주문 내역</a> </p>-->
<!--    </div>-->
<!--    <div th:replace="fragments/footer :: footer" />-->
<!--</div> &lt;!&ndash; /container &ndash;&gt;-->
<!--</body>-->
<!--</html>-->


<!-- 구분선 -->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>TottenHam Hotspur</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<body>
<div class="container">
<!--    <img th:src="@{/images/spursbackground.jpeg}">-->

    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="jumbotron">
        <h1>SPURS SHOP</h1>

        <section class="lead">
            <p>회원 기능</p>
            <div class="feature-buttons">
                <a class="btn btn-lg btn-secondary" href="/members/new">회원 가입</a>
                <a class="btn btn-lg btn-secondary" href="/members">회원 목록</a>
            </div>
        </section>

        <section class="lead">
            <p>상품 기능</p>
            <div class="feature-buttons">
                <a class="btn btn-lg btn-dark" href="/items/newbook">책 등록</a>
                <a class="btn btn-lg btn-dark" href="/items/newmovie">영화 등록</a>
                <a class="btn btn-lg btn-dark" href="/items/newalbum">앨범 등록</a>
                <a class="btn btn-lg btn-dark" href="/items">상품 목록</a>
            </div>
        </section>

        <section class="lead">
            <p>주문 기능</p>
            <div class="feature-buttons">
                <a class="btn btn-lg btn-info" href="/order">상품 주문</a>
                <a class="btn btn-lg btn-info" href="/orders">주문 내역</a>
            </div>
        </section>

    </div>

    <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>
